@font-face {
    font-family:HarmonyOS_Sans_SC_Medium;font-style: normal;font-display: swap;
    src: url('https://vkceyugu.cdn.bspapp.com/VKCEYUGU-f93a0b15-d148-43e7-94ad-9898a77707a9/0c8b3297-e91e-47b7-bb08-cb2b095957d4.woff2') format('woff2'),
         url('https://vkceyugu.cdn.bspapp.com/VKCEYUGU-f93a0b15-d148-43e7-94ad-9898a77707a9/b3094332-7aa7-4293-92fc-8139b4ee7cc3.woff') format('woff');
}
*{font-family:HarmonyOS_Sans_SC_Medium;}